html {
  font-size: 62.5%;
  /* line-height: .09375rem
  line-height: 1.5; */
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {
    display: block
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none
}

body {
  position: relative;
  min-height: 100vh;
  font-family: Poppins, Pretendard, sans-serif;
  word-break: keep-all
}

/* Header */
header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 1000;
  background: white;
}
header .header-warp{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header .logo img {
  height: 28px;
}
header aside {
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header a {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.9rem;
  margin: 0 37px;
  color: #111;

  position: relative;
  display: inline-block;
  padding: 8px 0px;
  text-decoration: none;
}
header nav a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease, height 0.15s ease 0.3s; 
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  height: 2px;
}

header .lang {
  margin-left: 85px;
}
header .lang a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #111;
  display: flex;
  align-items: center;
}
header .lang a::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background: url(/image/common/ico-arrow-down.svg) no-repeat;
  background-size: contain;
}

/* Section */
section {
  padding: 0 175px;
}
section .tit {
  width: 100%;
  margin-bottom: 84px;
}
section h2 {
  margin: 0;
  font-weight: 600;
  font-size: 6rem;
  line-height: 8.4rem;
  color: #111;
}
section .tit-w {
  margin: 0;
  font-weight: 600;
  font-size: 6rem;
  line-height: 8.4rem;
  color: #fff;
  text-align: center;
}
section h3 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin-bottom: 30px;
  color: #b2b2b2;
}
section .more-black {
  margin-top: 84px;
}
section .more-black a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 20px 35px;
  color: #fff;
  background-color: #111;
  border-radius: 35px;
}
section .more-black a::after {
  content: "";
  display: inline-block;
  background: url(/image/common/ico-seemore-w.svg) no-repeat center center / cover;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
}



/* Footer */
footer {

}
footer .ft-waper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 52px;
  color: #111;
  padding: 0 50px;
  margin-bottom: 200px;
}

footer aside {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
footer aside .copy {
  margin-right: auto;
}
footer .logo img {
  height: 26px;
  margin-right: 86px;
  filter: brightness(0.1);
}
footer p {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #111;
}
footer b:nth-of-type(n+2) { 
  margin-left: 15px;
}
footer aside p:nth-child(1) {
  margin-bottom: 23px;
}
footer .out-link a {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #b2b2b2;
}
footer .out-link a:last-child:before {
  content: "";
  display: inline-block;
  width: .0625rem;
  height: .75rem;
  background-color: #b2b2b2;
  margin-right: .5rem;
  margin-left: .5rem;
  vertical-align: middle;
}
footer .footer-bg {
  display: block;
  width: 100%;
  height: 40rem;
  background: url(/image/common/footer-bg.png) no-repeat center center / cover;
}